<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="splashExtension" name="Splash Extensions" schema="schema/splashExtension.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/sequence.gif">
         <run
               class="rcpapp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="rcpapp.rails.Perspective"
            id="RCPApp.rails_perspective"
            name="Rails">
      </perspective>
      <perspective
            class="rcpapp.tracks.Perspective"
            icon="icons/sequence.gif"
            id="RCPApp.perspective"
            name="Tracks">
      </perspective>
      <perspective
            class="rcpapp.cartographer.Perspective"
            id="rcpapp.cartographer.Perspective"
            name="Cartographer">
      </perspective>
      <perspective
            class="rcpapp.DefaultPerspective"
            id="rcpapp.perspective.ICE"
            name="ICE">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="RCPApp.application"
            name="ICE">
         <property
               name="appName"
               value="ICE">
         </property>
         <property
               name="windowImages"
               value="icons/My-Picture-old-school-icon_16.png,icons/My-Picture-old-school-icon_32.png,icons/My-Picture-old-school-icon_48.png,icons/My-Picture-old-school-icon_64.png,icons/My-Picture-old-school-icon_128.png">
         </property>
         <property
               name="aboutText"
               value="ICE: Integrated Comprehension Environment&#x0A;&#x0A;Developed by the University of Victoria in conjunction with Defence Research and Development Canada.">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="rcpapp.splashHandlers.ExtensibleSplashHandler"
            id="rcpapp.splashHandlers.extensible">
      </splashHandler>
   </extension>
   <extension
         point="RCPApp.splashExtension">
      <splashExtension
            icon="icons/af.png"
            id="af"
            tooltip="Application Framework">
      </splashExtension>
      <splashExtension
            icon="icons/embedded.png"
            id="embedded"
            tooltip="Embedded">
      </splashExtension>
      <splashExtension
            icon="icons/enterprise.png"
            id="enterprise"
            tooltip="Enterprise">
      </splashExtension>
      <splashExtension
            icon="icons/languages.png"
            id="languages"
            tooltip="Languages">
      </splashExtension>
      <splashExtension
            icon="icons/rcp.png"
            id="rcp"
            tooltip="RCP">
      </splashExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="rcpapp.rails.DataSourceView"
            id="rcpapp.rails.DataSource"
            name="Data Sources"
            restorable="true">
      </view>
      <view
            class="rcpapp.cartographer.MapView"
            id="rcpapp.cartographer.MapView"
            name="Map View"
            restorable="true">
      </view>
      <view
            class="rcpapp.DefaultView"
            id="rcpapp.DefaultView"
            name="Default View"
            restorable="true">
      </view>
      <view
            class="rcpapp.cartographer.InstanceView"
            id="rcpapp.cartographer.InstanceView"
            name="Function Selector"
            restorable="true">
      </view>
      <view
            class="rcpapp.cartographer.CallStackView"
            id="rcpapp.cartographer.CallStackView"
            name="Call Stack"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="rcpapp.rails.DataSourceInstanceEditor"
            default="false"
            id="rcpapp.rails.InstanceEditor"
            name="Data Source Instance">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="rcpapp.rails.OpenEditorHandler"
            id="rcpapp.rails.openEditor"
            name="Open Editor">
         <defaultHandler
               class="rcpapp.rails.OpenEditorHandler">
         </defaultHandler>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Tools">
            <dynamic
                  class="rcpapp.DynamicPerspectivesMenu"
                  id="rcpapp.menu.dynamic.Perspectives">
            </dynamic>
         </menu>
      </menuContribution>
   </extension>

</plugin>
